<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stilo.css"/>
    <title>CSS Grid e Flexbox</title>
</head>
<body>
    
    <header>
        <a href="/">Sistema de Vendas</a>

        <nav>

            <ul>
                <li><a href="/">Sobre</a></li>
                <li><a href="{{route('produtos.indexproduto')}}">Produtos</a></li>
                <li><a href="{{route('fornecedores.indexs')}}">Fornecedores</a></li>
                <li><a href="{{route('entrada.indexentrada')}}">Entradas</a></li>
                <li><a href="{{route('itensentrada.indexitensentrada')}}">Itens Entrada</a></li>
                <li><a href="{{route('venda.indexvenda')}}">Vendas</a></li>
                <li><a href="{{route('itensvenda.indexitensvenda')}}">Itens Venda</a></li>
                <li><a href="{{route('clientes.index')}}">Clientes</a></li>
                <li><a href="{{route('endereco.index')}}">Endereço</a></li>
            </ul>

        </nav>


    </header>


</body>
</html>