body {
    margin:0;
    padding: 0;
    background: cornsilk;
    font: 85% arial, helvetica, sans-serif;
    text-align:center;
}

#container {
    margin:20px;    
    background: crimson;
    width: auto;
    height: 600px;
    text-align: center;
    border: 1px solid blue;
}

#header {
    background: yellow;
    width: auto;
    height: 100px;
    border-bottom: 1px solid #fff;
}

#nav {
    background: yellowgreen;
    padding: 2px 0;
    margin-bottom: 22px;

}

#conteudo {
    float: center;
    text-align: center;
    width: auto;
    background: #eee;
    margin: 15px 15px 15px 15px; 
}

#footer {
    background: #ff9;
    padding: 5px;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#nav ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
    border-left: 1px solid #c4c769;
}

#nav li {
    display:inline;
    padding: 0 10px;
    border-right: 1px solid #c4c769;
    text-align: center;
}

#nav li a {
    text-decoration: none;
    color: #272900;
}

#nav li a:hover {
    text-decoration:none;
    color: #fff;
    background-color: #272900;
}

